

    
    <footer>
        <p>Images courtesy of <a href="http://www.unsplash.com/">unsplash</a>.</p>
        <p><i class="fa fa-copyright" aria-hidden="true"></i>2017 JECiNT.nG - All Right Reserved</p>
        <ul>
            <li><a href="http://www.twitter.com/godspowercuche"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        </ul> 
    </footer>
    
</body>
</html> 