<%- include ("partials/Header") %>

<section class="about">
    <div class="contain">
        <div class="abouts">
            <h1>About Us</h1>
            <p>
                JECiNT.nG is an indeginous heavy equipment leasing and servicing company registerd with the corporate affairs commission of Wakanda.
            </p>
            <p> With over 50years cummulative industry experience, we pride in our mantra that emphasizes on efficiency, honesty and consistency. 
            </p>
            <p>
                We treat our client's business needs as ours and do all to ensure our clients are satisfied.
            </p>
            <hr>
        </div>
        
        <div class="container">
            <div class="grid">
                <div class="thumbnail">            
                    <p>At JECiNT.nG, our clients needs are ours. We offer a range of generalized and specialized services to sooth your general or unique needs.
                        We are also considerate about your financials, hence we offer our services at friendly rates. We also advice our client on the packages that would best satify their needs. 
                        Yes, your needs are ours and we're here to meet them 
                    </p>
                    <img src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <div class="thumbnail">
                    <img src="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                    <p>Bearing in mind how unique your equipment needs are, we employ a model that thoroughly analyzes your needs and come up with the most suitable package for you. 
                        We work in teams to ensure every possibilities are exhausted in our consideration of your equipment and servicing needs.
                    </p>
                </div>
                <div class="thumbnail">
                    <p>Our engineers are vastly experienced in everything Heavy duty machinary and are industry certified. 
                        So contracting our Servicing and maintainance services for your equipments means just one thing: quality. 
                        We will ensure that your equipments are in sound condition to work efficienly. 
                        Moreso, our prices are the best deal out there. Yes, unbeatable!
                   </p>
                    <img src="https://images.unsplash.com/photo-1540476547779-348beb642680?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
            </div> 
        </div>
        <p> We pride in our ability to meet our clients' needs at record time. This is evident in our massively growing clientel.
            We give efficient, rapid and honest response to your needs.
        </p>
    </div>
</section>



<%- include ("partials/Footer") %>