<%- include ("partials/Header") %>

<section class="catalogue">
    <h1>Gallery</h1>
    <p>Like promised, we offer a wide range of services that cover all your heavy duty equipments and servicing needs. Take a look below...</p>
    <hr>

    <ul class="grid">
        <li class="small" style="background-image:url(https://images.unsplash.com/photo-1585110587043-36d457f3e803?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) ;"></li>
        <li class="small" style="background-image:url(https://images.unsplash.com/photo-1579278350581-5b483153d62b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);"></li>
        <li class="small" style="background-image:url(https://images.unsplash.com/photo-1584192436700-b7edfb0ea88f?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) ;"></li>
        <li class="large" style="background-image: url(https://images.unsplash.com/photo-1577896021507-78957e4b77d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);"></li>
        <li class="small" style="background-image: url(https://images.unsplash.com/photo-1580875602265-57a9e0e6d005?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);"></li>
        <li class="small" style="background-image:url(https://images.unsplash.com/photo-1505833464198-4993b36cdfab?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) ;"></li>
        <li class="small" style="background-image:url(https://images.unsplash.com/photo-1561157437-415893bd7149?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) ;"></li>
        <li class="small" style="background-image:url(https://images.unsplash.com/photo-1584186118422-895ef18c418d?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) ;"></li>
        <li class="large" style="background-image:url(https://images.unsplash.com/photo-1559331922-516bac7dbf86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) ;"></li>
    </ul>
</section>

<%- include ("partials/Footer") %>