<%- include ("partials/Header") %>

<section class="first">  
    <div class="background-image" style="background-image: url(https://images.unsplash.com/photo-1503708928676-1cb796a0891e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);">
        <div class="first-content">
            <h3>JECiNT.nG Equipment Leasing and Servicing Lt.D</h3>
            <p>42 Crecent close, Tobaz, Wakanda</p>
            <p>Your No.1 stop for Heavy Equipment Leasing and Servicing!</p>
            <h3><a href="/contact" class="btn">Contact Us Now</a></h3>
        </div>
    </div>
</section>



<%- include ("partials/Footer") %>