<%- include ("partials/Header") %>


 <section class="services">
    <h1>Our Services</h1>
    <p class="p-services">Whatever your need may be, we've got you covered. Take a look below</p>
    <hr>

    <ul class="grid">
        <div>
            <h4>Haulage</h4>
            <p> Our Haulage service prides itself as the best in this industry. 
                This is evident in our competitive pricing packages for different purposes and trips.
                <a href="#">Click here</a>to find out more on our price packages
            </p>
        </div>

        <div>
            <h4>Heavy Duty Equipment Leasing/Rental</h4>
            <p>We provide strong, efficient equipments in good working condition. Our rates are flexible and would sooth your finacial needs. 
               Please<a href="">click here</a>to find out more on our pricing structure for equipments leasing.
            </p>
        </div>

        <div>
            <h4>Heavy Duty Equipment Servincing and Mentainance</h4>
            <p>We have industry certified engineers with superior skills, man-power and vastly experienced in heavy duty equipments servicing.
                Our engineers would inspect your equipments, run routine check-up and services and give informed advice on the nature of your equipment.
                <a href="">Click here</a> to find out more on how this works
            </p>
        </div>

        <div>
            <h4>Supply of Equipment and Spare Parts</h4>
            <p>Do you have a need to engage the services of a trusted equipment spare parts dealer?
                Your search ends here. We sell and supply grade A equipments and spare parts with guarantee. 
                <a href=""> Click here</a> to find out more on how this works
            </p>
        </div>

        <div>
            <h4>Building Equipments and Materials</h4>
            <p>We know that you love beautiful and magnificent buildings. We do too. 
               That's why we're your guaranteed supplier of high quality building equipments and materials to help you build that structure of your dreams.
                <a href="">Click here</a> to know a more about this service</p>
        </div>
    </ul>
</section>

<%- include ("partials/Footer") %>